@font-face {
  font-family: "SukhumvitSet";
  src: url("SukhumvitSet-Bold.ttf") format("opentype"),
    url("SukhumvitSet-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("SukhumvitSet-Bold.ttf") format("opentype"),
    url("SukhumvitSet-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("SukhumvitSet-Light.ttf") format("opentype"),
    url("SukhumvitSet-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("SukhumvitSet-Light.ttf") format("opentype"),
    url("SukhumvitSet-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "SukhumvitSet";
}
