html {
  font-family: "SukhumvitSet" !important;
}

div {
  font-family: "SukhumvitSet" !important;
}

.menu-item {
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}

.menu-item:hover {
  color: #cbe115;
  cursor: pointer;
}

.none {
  display: none;
}
.block {
  display: block;
}

.lemon-font {
  color: #cbe115;
  font-size: 40px;
  font-weight: bold;
}

.white-font {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-profile-overflow {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-card-box {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 300px;
  border-radius: 5px;
}

.float-label {
  font-family: "SukhumvitSet";
  position: relative;
  transition: all 0.3s;
}

.label {
  font-family: "SukhumvitSet";
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 3px;
  top: 0;
  transition: 0.2s ease all;
  box-sizing: content-box;
  height: 1.1876em;
  color: rgb(209, 209, 209);
}

.label-custom-float {
  font-family: "SukhumvitSet";
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 3px;
  top: 0px;
  display: flex;
  flex: none;
  align-items: center;
  transition: 0.2s ease all;
  box-sizing: content-box;
  color: #d1d1d1;
  z-index: 11;
}

.label-float-focused {
  font-family: "SukhumvitSet";
  color: #cbe115;
  left: 3px;
  top: -20px;
  font-size: 13px;
  outline: 2px;
  outline-offset: 2px;
  transform: translate(0px, -2px) scale(1);
  z-index: 11;
  padding: 0 5px;
}

.label-float {
  font-family: "SukhumvitSet";
  color: lightgray;
  left: 3px;
  top: -20px;
  font-size: 13px;
  outline: 2px;
  outline-offset: 2px;
  transform: translate(0px, -2px) scale(1);
  z-index: 11;
  padding: 0 5px;
}

.ant-input,
.ant-input:focus,
.ant-input-focused .label .label-float {
  font-family: "SukhumvitSet";
  color: white;
}

.ant-picker.ant-picker-borderless.css-dev-only-do-not-override-diro6f {
  border-bottom: 1px solid #f5f5f5 !important;
  border-radius: 0;
}

.ant-picker .ant-picker-input > input {
  font-family: "SukhumvitSet";
  color: white !important;
}

.ant-picker .ant-picker-clear {
  background: unset !important;
  color: red !important;
  padding-right: 20px;
}

.ant-picker .ant-picker-suffix {
  color: white !important;
}

.ant-btn.btn-submit,
.ant-btn.btn-submit:focus {
  background-color: #cbe115;
  color: black;
  border-color: #cbe115;
  width: 150px;
  height: 35px;
  margin: 10px 0;
  border-radius: 40px;
}

.ant-btn.btn-submit:hover {
  background-color: #e9fa4c;
  color: black;
  border-color: #e9fa4c;
}

.ant-btn.slide-btn,
.ant-btn.slide-btn:focus {
  background-color: white;
  color: black;
  border-color: white;
  width: 50px;
  height: 35px;
  margin: 10px 0;
}

.ant-btn.slide-btn:hover {
  background-color: #e9fa4c;
  color: black;
  border-color: #e9fa4c;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: #f0f2f5;
}

body::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 92, 92);
}

.ant-form-item-explain-error {
  top: -21px;
  right: 0px;
  text-align: end;
  position: absolute;
}

.icon-bycicle {
  width: 100%;
  height: 100%;
}

.text-info-section-one {
  padding: 0px;
}

.ant-row.product-overflow {
  overflow-x: unset;
  flex-wrap: nowrap;
  display: flex !important;
  padding: 2rem 0px;
}

.ant-row.menu-overflow {
  overflow-x: unset;
  flex-wrap: nowrap;
  display: flex !important;
  padding: 0.5rem 0px;
}

@media only screen and (max-width: 1024px) {
  .ant-row.product-overflow {
    overflow-x: unset;
    flex-wrap: nowrap;
    display: flex !important;
    padding: 2rem 0px;
  }

  .icon-bycicle {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .ant-row.product-overflow {
    overflow-x: auto;
    flex-wrap: nowrap;
    display: -webkit-box !important;
  }
  .ant-row.menu-overflow {
    overflow-x: auto;
    flex-wrap: nowrap;
    display: -webkit-box !important;
  }

  .icon-bycicle {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
  }

  .text-info-section-one {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

@media only screen and (max-width: 425px) {
  .ant-row.product-overflow {
    overflow-x: auto;
    flex-wrap: nowrap;
    display: -webkit-box !important;
  }

  .ant-row.menu-overflow {
    overflow-x: auto;
    flex-wrap: nowrap;
    display: -webkit-box !important;
  }

  .icon-bycicle {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-up.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.fade-down {
  opacity: 0;
  transform: translateY(-20vh);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-down.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-right {
  opacity: 0;
  transform: translateX(200px);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-right.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.fade-left {
  opacity: 0;
  transform: translateX(-200px);
  visibility: hidden;
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-left.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
